<IfModule mod_rewrite.c>
 RewriteEngine on
 
 RewriteBase /api/
 
 RewriteCond %{REQUEST_FILENAME} !-d
 RewriteCond %{REQUEST_FILENAME} !-f
 
 RewriteRule ^(.*[^/])$ $1/ 
 RewriteRule ^([^/]*)/(.*)/$ $1.$2/
 
 RewriteCond %{REQUEST_URI} ^/api/doc\. [NC]
 RewriteRule ^doc\.([^/]*)/$ index.php?req=$1&doc=1 [QSA,L]
 
 RewriteRule ^([^/]*)/$ index.php?req=$1 [QSA,L]
 </IfModule>